*{
    margin: 0;
    padding: 0;
}

#header{
    background-color: darkslategray;
    padding: 15px;
    margin-bottom: 10px;
}

h1 {
    color: white;
}

p, .highlight{
    transition: all 0.5s ease-in-out;

}

p:hover{
    color: #eee;
}


p:hover .highlight{
    padding: 2px;
    background-color: lime;
    color: black;
}

.extra {
    border-radius: 4px;
    border-color: green;
    border: 2px solid green;
}

[title]{
    cursor: help;
}

p{
    margin-bottom: 50px;
    border-bottom: 2px solid gray;
    padding-bottom: 50px;
    padding-left: 15px;
}

p::selection{
    background-color: black;
    color: lime;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: orange;
}

a:link[href^='http']::after{
    content: "↗";
}
